@section Tags{
    @if (Request.IsAuthenticated)
    {
        <h5><a href="/Home/Tags" style="margin: 0 0 0 30px">查看标签</a></h5>
    }
}

<h2>
    设计理念
    <br />
</h2>
<p style="line-height: 2em">
    &nbsp;&nbsp; 平时在浏览网页或者是查找资料的时候，有许多网页都是很有价值的，以后重复查看的几率很高，很多人都会选择收藏；<br />
    &nbsp;&nbsp; 但是那样会使得标签栏越来越臃肿，而且会因为美观而百般缩短标签名，但是又不愿意打开记事本、word或云笔记来记录，毕竟那样特别麻烦，因为在使用的时候又得打开一个第三方软件；<br />
    &nbsp;&nbsp; 这样的结果只会有一个，那就是只有特别重要的网址才会选择收藏，但是对于没有收藏的以后又会偶尔使用而且不容易查找的网页，以后又会花很多时间去查找。<br />
    &nbsp;&nbsp; 本站就是针对以上问题的一个比较合适的解决方案，网站力求简洁，为你的标签提供一个在线的收藏的地方，不管你使用哪一台电脑，只要你想用浏览器浏览以前收藏的网页，都可以很轻松地获得！<br />
    &nbsp;&nbsp; 有了她，你的浏览器标签栏只需要收藏几个最常用的网址和本站网址;<br />
    &nbsp;&nbsp; 所以，标签管理器 ---- 一个为你节约时间的网站！你值得拥有。
</p>
<br>
<h2>
    使用方法
    <br />
</h2>
<p>
    &nbsp;&nbsp; 本着简洁大方的设计理念，本站使用也非常简单，只要点击网站右方的注册图标，注册一个账号，登陆之后便可查找已收藏的标签和添加新的标签，并提供搜索功能！
</p>
<br>
<h2>
    温馨提示
    <br />
</h2>
<p>
    &nbsp;&nbsp; 由于为了防止用户填错电子邮件地址，本站引入了邮箱验证；<br />
    &nbsp;&nbsp; 就是注册后或发送一封邮件到注册所填写的邮箱中，用户必须通过该邮件激活自己的账号来确保该邮箱为用户所有，并且能正常使用;<br />
    &nbsp;&nbsp; 同理，找回密码也是利用相似的方法来确保邮箱的正确;<br />
    &nbsp;&nbsp; 所以，当系统提示邮件已发送，在邮箱的收件箱中没有找到邮件，就去垃圾箱找找看，并可以随之把该邮箱设为白名单，方便以后使用;<br />
    &nbsp;&nbsp; <a target="_blank" href="http://jingyan.baidu.com/article/d45ad148cc39eb69552b8034.html">QQ邮箱设置白名单方法</a><br />
</p>